@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  90% {
    transform: translateX(10px); }
  100% {
    opacity: .8;
    transform: translate(0); } }

@keyframes moveOutLeft {
  0% {
    opacity: 100;
    transform: translateX(0px); }
  50% {
    transform: translateX(-50px); }
  100% {
    opacity: 0;
    transform: translateX(-100px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(300px); }
  50% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: "beyond";
  src: url("fonts/beyond_the_mountains.otf"); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #777;
  padding: 1rem;
  max-width: 1270px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.2rem;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
  
.heading-primary--main {
  opacity: .7;
  display: block;
    font-size: 3rem;
    font-weight: 900;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in;
    transition: .5s all; 
  }
.heading-primary--main .first-name {
  letter-spacing: 1.5rem; 
}
.heading-primary--main .last-name {
    letter-spacing: .75rem; 
  }
.heading-primary--sub {
  display: block;
  margin-top: 10px;
  text-transform: none;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .75rem;
  line-height: 2rem;
  opacity: .8;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-timing-function: ease-in; 
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  transform: rotate(19deg);
  transition: .5s all;
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%); }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #ff0080;
  color: white;
  z-index: 1; }

.btn:active {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #ff0080; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-to-top:link, .btn-to-top:visited {
  color: #ff0080;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.4rem;
  transition: .4s all;
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%); }

.btn-to-top:hover {
  color: #fff; }

.btn-to-top:active {
  transform: scale(1.1);
  transform: translateY(-1px);
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn2:link, .btn2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 1.3rem; }

.btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn2:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn2--white {
  background-color: #fff;
  color: #ff0080; }

.btn2::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn2--white::after {
  background-color: #fff; }

.btn2:hover::after {
  transform: scaleX(1.4) scaleY(1.3);
  opacity: 90; }

.btn2--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

main {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding-bottom: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-in; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20.8rem;
  margin-top: -14vh;
  list-style: none;
  transition: .5s all; }

.nav__links {
  display: flex;
  flex-direction: column; 
}

.nav__links a {
  width: 12rem;
  height: 1.7rem;
  margin-bottom: 1rem; }

.header {
  height: 65vh;
  background-image: linear-gradient(to left top, rgba(255, 0, 128, 0.8), rgba(255, 140, 0, 0.8), rgba(64, 224, 208, 0.8)), url(images/tabbLight.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh); }
  
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 1rem;
  padding: 10px 10px;
  align-self: center;
  width: 90%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-timing-function: ease-in; }

.mainContent__header {
  text-align: center;
  font-size: 3rem;
  font-family: beyond;
  color: #ff0080;
  margin-bottom: 1rem; }

.mainContent__text {
  background-color: #fff;
  box-shadow: -5px 10px 19px -5px rgba(176, 173, 176, 0.6);
  border-radius: 25px;
  color: #777;
  margin: 1.5rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  align-content: center;
  text-indent: 5rem; }
  
.mainContent p:not(:last-child) {
  margin-bottom: 1rem; }

.mainContent a {
  text-decoration: none;
  color: #ff0080;
  font-weight: 400;
  transition: .25s all; }

.mainContent a:hover {
  color: #a1cda8; }

.projectInfo {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  border-radius: 25px;
  background-color: rgba(187, 245, 239, 0.85);
  position: fixed;
  top: 20%;
  z-index: 3;
  box-shadow: -5px 10px 7px -5px #777;
  align-self: center;
  font-size: 1.2rem;
  padding-top: 1rem;
  transition: .5s all;
  -webkit-transition: .5s all;
  border: 0.5rem solid #ff0080; }

.projectInfo h2 {
  transition: .25s all;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .25rem;
  line-height: 3.25rem; }

.moveInRight {
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: backwards; }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .75s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards; }

.projectInfoBtn {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  margin: .5rem;
  width: 17rem;
  background-color: #ff0080;
  color: white;
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  transition: .3s all; }

.projectInfo a:hover {
  font-weight: bold;
  background-color: #ff8c00; }

#closeProjectWindow {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  color: #ff8c00;
  transition: .25s all; }

#closeProjectWindow:hover {
  cursor: pointer;
  color: #ff0080; }

.projectInfo p {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  width: 75%;
  font-size: 1.5rem;
  line-height: 2rem;
  transition: .25s all;
  color: #302f2f; }

.image-grid {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  order: 3;
  padding-bottom: 100px;
  margin: 1rem;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center; }

.image-grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
  width: 75%;
  padding-bottom: 2.5rem;
  position: relative;
  text-align: center;
  box-sizing: border-box; }

.image-grid div:hover img {
  transform: translateY(0.3rem);
  box-shadow: 0 7px 13px 4px #b0adb0; }

.image-grid div:active {
  transform: translateY(0.6rem);
  box-shadow: -5px 10px 0px -5px #b0adb0; }

.image-grid div img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 20px #b0adb0;
  transition: .25s all ease-in; }

.image-grid div a {
  margin: 1rem;
  padding: 1rem;
  opacity: 0;
  transition: .5s all;
  width: 100%;
  height: 25%;
  border-radius: 25px;
  z-index: 2; }

footer {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: -1;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 128, 0.8), rgba(255, 140, 0, 0.8), rgba(64, 224, 208, 0.8));
  height: 20rem;
  margin-top: -39%; }

  footer p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300; }

.flex-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profilePic {
  object-fit: contain;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  width: 25rem;
  border-radius: 25px;
  max-width: 30rem;
  align-self: center;
  margin: 1.5rem;
  margin-bottom: 7rem; }

.mainContent__about-list {
  background-color: #fff;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  border-radius: 25px;
  color: #ff0080;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.mainContent__about-list h3 {
  margin-left: 1rem; }

.mainContent__about-list li {
  position: relative;
  padding: 1rem 1rem;
  list-style-position: inside;
  cursor: pointer; }

.mainContent__about-list:first-child {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-timing-function: ease-in; }

.mainContent__about-list:nth-child(2) {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in; }

.about-pic1 {
  background-image: url(images/deadlift.jpeg);
  transition: .3s all;
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: -25rem;
  right: 0rem;
  visibility: hidden; }

.item1:hover > .about-pic1 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic2 {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: -25rem;
  right: 0rem;
  visibility: hidden;
  background-image: url(images/lilymommy.jpg);
  transition: .3s all; }

.item2:hover > .about-pic2 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic3 {
  height: 200px;
  width: 300px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: -25rem;
  right: 0rem;
  visibility: hidden;
  background-image: url(images/tabbCamera.jpg);
  transition: .3s all; }

.item3:hover > .about-pic3 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic4 {
  height: 200px;
  width: 300px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: -25rem;
  right: 0rem;
  visibility: hidden;
  background-image: url(images/stanley.jpg);
  transition: .3s all; }

.item4:hover > .about-pic4 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic5 {
  height: 200px;
  width: 300px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: -25rem;
  right: 0rem;
  visibility: hidden;
  background-image: url(images/cocktail.jpg);
  transition: .3s all; }

.item5:hover > .about-pic5 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

#contactMessage {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 3rem;
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 50%; }

.contactContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0rem;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  border-radius: 10px;
  color: #ff0080;
  font-size: 1.2rem;
  transition: .45 all; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #777;
  width: 17rem;
  height: 17rem;
  margin: 2rem;
  border-radius: 1rem;
  transition: .5s all;
  color: white;
  font-size: 3rem;
  text-align: center; }

.box p {
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  transition: .5s all; }

.box .fa-2x {
  color: white; }

.box:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 7px 13px 4px #b0adb0; }

.profilePic {
  object-fit: contain;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  width: 17rem;
  border-radius: 1rem;
  max-width: 30rem;
  align-self: center;
  margin: 1.5rem;
  margin-bottom: 7rem; }

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 80%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  color: #ff0080;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid #ff0080; }

.contact-form__field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #eee;
  border: 1px solid #777;
  padding: .5rem;
  margin: .5rem; }

.contact-form__field label {
  margin-right: .5rem; }

.contact-form__field input {
  width: 65%;
  margin-right: .5rem; }

.contact-form__field textarea {
  flex: 2;
  margin-right: .5rem; }

.contact-form button {
  align-self: flex-end;
  background-color: #ff0080;
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  color: white;
  padding: .5rem 1rem;
  margin: .5rem;}

.contact-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
.contact-form button:active {
  transform: translateY(3px); }

@media screen and (width: 375px) {
  .btn:link, .btn:visited {
    transform: rotate(23deg); } }

@media screen and (min-width: 512px) {
  nav {
    margin-top: -15vh; }
  footer {
    margin-top: -25%; }
  .heading-primary--main {
    font-size: 5rem;
    line-height: 5rem; }
  .heading-primary--sub {
    font-size: 1.8rem; }
  .btn:link, .btn:visited {
    transform: rotate(16.5deg); }
  .btn:hover {
    transform: rotate(0deg); } }

@media screen and (min-width: 650px) {
  .btn:link, .btn:visited {
    transform: rotate(12.5deg); }
  .btn:hover {
    transform: rotate(0deg); }
  .btn:active {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .image-grid {
    order: 4;
    flex-flow: row wrap; }
    .image-grid div {
      height: 30%;
      width: 40%; }
  footer {
    height: 22rem; }
  .contactContainer {
    flex-direction: row;
    justify-content: center; } }

@media screen and (min-width: 768px) and (orientation: landscape) {
  body {
    padding: 3rem;
    margin: 0 auto; }
  .heading-primary {
    margin-bottom: 60px; }
    .heading-primary--main {
      line-height: 6.2rem;
      font-size: 6rem; }
      .heading-primary--main .first-name {
        letter-spacing: 3.5rem; }
      .heading-primary--main .last-name {
        letter-spacing: 1.9rem; }
  nav {
    flex-direction: row;
    order: 1;
    justify-content: flex-end;
    height: 100%;
    margin-top: 1rem; }
  .nav__links {
    flex-direction: row;
    margin-right: 1rem; }
    .nav__links a {
      margin-right: 1.5rem; }
  .btn:link, .btn:visited {
    transform: rotate(0deg);
    transition: .5s all; }
  .btn:hover {
    background-color: #ff0080;
    color: white; }
  .btn:active {
    transform: rotate(-12.5deg); }
  .header {
    order: 2;
    background-position: 50% 19%; }
  .mainContent {
    order: 3; }
  .projectInfo {
    height: auto;
    width: 75%; }
  .projectInfo h2 {
    font-size: 3.5rem; }
  .projectInfo p {
    font-size: 2rem;
    line-height: 2.5rem; }
  .image-grid {
    order: 4;
    flex-flow: row wrap; }
    .image-grid div {
      width: 30%; }
  footer {
    margin-top: -10%; }
  .flex-lists {
    display: flex;
    flex-direction: row; }
  .mainContent__about-list {
    height: 28.7rem;
    width: 40%; } }
