#mainContent {
  width: 100%;
}

.blog-container {
  position: relative;
  order: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.blogs {
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3rem;
  border-radius: 2.5rem;
  background-color: rgba(255, 255, 255, 0.26);
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px #888888;

}

.blog-entry h3 {
  align-self: flex-start;
  font-size: 3rem;
  line-height: 3.25rem;
  margin: .5rem 0;
  font-weight: 600;
}

.blog-entry .date {
  align-self: flex-start;
  text-indent: 0rem;
}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.blog-entry .md {
  width: 50%
}

.blog-entry .sm {
  width: 25%
}

.blog-entry p {
  /* text-indent: 4rem; */
  font-weight: 100;
  width:  100%;
  font-size: 1.4rem;
}

/* TODO: create a text indent that doesn't mess up images in mobile mode */
/* .blog-entry div p::first-word {
  text-indent: 4rem;
} */


hr {
  margin: 1rem 0;
  width: 100%;
  color: rgba(211, 211, 211, 0.281);
  opacity: .5;
}

hr:last-child {
  width: 40%;
}

.blog-sidebar {
  order: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0rem 0 5rem 0rem;
  padding: .75rem;
  background-color: rgba(255, 255, 255, 0.616);
  color: #ff0080;
  width: 20rem;
  border-radius: 2.5rem;
  height: auto;
  /* border: .1rem solid rgba(211, 211, 211, 0.664); */
  font-size: 1.4rem;
  box-shadow: 0px 0px 20px #888888;
  
}

.blog-sidebar hr {
  width: 75%;
  align-self: center;
}

.blog-sidebar-widget {
  width: 100%;
  padding: .5rem;
}

.blog-sidebar-widget h4 {
  align-self: center;
  font-size: 2rem;
}

.blog-sidebar-widget ul {
  margin-top: .5rem;
}

li {
  padding: .25rem .5rem;
  list-style: none;
}

.blog-img-hidden {
  position: fixed;
  top: 50%;
  right:50%;
  transform: translateX(48.5%) translateY(-50%);
  width: 90%;
  height: auto;
  box-shadow: 0px 0px 20px #000000;
  z-index: 5;
}

#hidden-img-close {
  color: white;
  display: none;
  position: fixed;
  top: 10.5%;
  right: 8.5%;
  transform: translateX(48.5%) translateY(-50%);
  z-index: 6;
}

#hidden-img-close:hover {
  cursor: pointer;
  color: #888888;
}

/* blog post layout and components */


/* .float-right-50 {
  width: 100%;
  float: none;
  margin: 0;
} */

/* .float-left-50 {
  width: 50%;
  float: left;
  margin: 1rem 1rem 0 0;
} */





@media screen and (min-width: 768px) {

  .float-right-50 {
    width: 50%;
    float: right;
    margin: 0 0rem 1rem 1.5rem;
  }
  
  .float-left-50 {
    width: 50%;
    float: left;
    margin: 1rem 1.5rem 0 0;
  }
  

  /* .blog-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  } */

  /* .blogs {
    width: 85%;
    margin-right: 6rem;
  } */

  .blogs {
    margin-bottom: 3rem;
  }

  .blog-entry:first-child {
    width: 80%;
    margin-right: 16rem;
  }

  .blog-entry p {
    font-size: 1.6rem;
    text-indent: 4rem;
  }

  .blog-sidebar {
      margin: 3rem 0;
      width: 15%;
      height: auto;
      position: absolute;
      top: -10px;
      right: 1.5rem;
  }

  .blog-img-hidden {
    margin: 0;
    position: fixed;
    top: 50%;
    right:50%;
    transform: translateX(48.5%) translateY(-50%);
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 20px #000000;
  }

}